.sly-content-header,
.sly-content-footer {
	@extend .clearfix;

	.sly-navi-content,
	.sly-navi-slots {
		margin: 0;
		padding: 0;
		float: left;

		li {
			display: block;
			float: left;
		}

		a {
			display: block;
			padding: 10px 20px;
		}

		.sly-active {
			background-color: $color-white;
		}

		@extend .list-unstyled;
	}

	.sly-navi-slots {
		margin-bottom: $gap-layout-md;
	}
}

#content_article_form fieldset {
	margin-bottom: 0;
}

.sly-slice-toolbar {
	border-bottom: 1px solid $color-grey-light;
	padding: $gap-layout-md;
	background-color: $color-white;

	@extend .clearfix;

	h3 {
		margin: 0;
		font-size: $font-size-base;
		line-height: $line-height-base;

		@extend .pull-left;
	}
}

.sly-slice-actions {
	@extend .pull-right;

	ul {
		margin: 0;
		padding: 0;

		@extend .clearfix;

		li {
			display: block;
			margin-left: $gap-layout-sm;
			float: left;
		}

		a {
			display: block;
		}

		@extend .list-unstyled;

		.sly-up,
		.sly-down {
			font-size: 32px;

			@extend .sallycms-icon;
		}

		.sly-up {
			@extend .sallycms-icon-content-slice-up;
		}

		.sly-down {
			@extend .sallycms-icon-content-slice-down;
		}
	}
}

.sly-contentpage-slice-output {
	background-color: $color-white;
	padding: $gap-layout-md;
	margin-bottom: $gap-layout-md;

	@extend .clearfix;
}

.sly-table-diff {
	> tbody + tbody {
		border-width: 1px;
	}

	> thead > tr > th {
		width: 50%;
	}

	> tbody > tr > th {
		width: 1%;
	}

	> tbody > tr > th,
	> tbody > tr > td {
		font-size: 80%;
		font-family: $font-family-monospace;
		vertical-align: top;
	}

	.change-insert span,
	.change-replace span {
		color: $color-green;
		background-color: transparentize($color-green, 0.90);
	}

	ins {
		color: $color-green;
		background-color: transparentize($color-green, 0.90);
	}

	del {
		color: $color-red;
		background-color: transparentize($color-red, 0.90);
	}
}
