[id^=sly-page-linkmap] {
	background-color: transparent;
	overflow: hidden;

	#sly-page {
		@include transition(opacity 0.3s);
		@include opacity(0);
	}

	&.sly-iframe-ready {
		overflow: auto;

		#sly-page {
			@include opacity(1);
		}
	}
}

[id^="sly-page-linkmap"] #sly-navi-top {
	display: none;
}

#sly-linkmap {
	ul {
		position: relative;

		@extend .list-unstyled;

		&:before {
			display: block;
			content: '';
			width: 40px;
			position: absolute;
			left: -40px;
			top: 0;
			bottom: 0;
			border-right: 1px solid transparentize($color-grey-medium, 0.75);
		}

		li {
			padding-left: 30px;

			a {
				line-height: 2;
				position: relative;

				&:before {
					display: block;
					content: '';
					width: 20px;
					position: absolute;
					left: -30px;
					top: 50%;
					border-top: 1px solid transparentize($color-grey-medium, 0.75);
				}
			}
		}
	}
}
