.sly-message {
	border: 0;
	margin-bottom: $gap-layout-md;
	font-weight: 500;

	@extend .alert;

	a {
		color: $color-white;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.sly-info {
	@extend .alert-success;
}

.sly-warn {
	@extend .alert-danger;
}
