/* colors */
$color-blue-dark-extra: #15161a;
$color-blue-dark: #2a2d33;
$color-blue: #3399ff;
$color-blue-light: #e0e6ed;
$color-blue-light-extra: #f0f4f7;
$color-green: #2bd982;
$color-red: #f3322f;
$color-grey-dark-extra: #131313;
$color-grey-dark: #333;
$color-grey: #636363;
$color-grey-medium: #7c7c7c;
$color-grey-medium-extra: #b3b3b3;
$color-grey-light: #dcdcdc;
$color-grey-light-extra: #ececec;
$color-grey-white-dark: #f3f3f3;
$color-white: #fff;

/* layout */
$gap-layout-xs: 5px;
$gap-layout-sm: 10px;
$gap-layout-md: 20px;
$gap-layout-lg: 40px;
