.sly-icheckbox,
.sly-iradio {
	display: inline-block;
	vertical-align: middle;
	margin-right: $gap-layout-xs;
	width: $line-height-computed - 6;
	height: $line-height-computed - 6;
	font-size: 32px;
	border: none;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid $color-grey-light;
	position: relative;
	top: -1px;

	&:before {
		position: relative;
		top: -5px;
		left: -5px;
		line-height: $line-height-computed - 6;
	}

	&.hover {
		border-color: $color-green;
	}

	&.disabled {
		cursor: not-allowed;
		background-color: transparentize($input-bg-disabled, 0.5);
	}

	&.checked {
		color: $color-white;
		border-color: $color-green;
		background-color: $color-green;

		@extend .sallycms-icon;
		@extend .sallycms-icon-component-icheck-check;

		&.disabled {
			color: $color-grey-light;
			border: 1px solid $color-grey-light;
			background-color: transparentize($input-bg-disabled, 0.5);
		}
	}
}

.sly-iradio {
	@include border-radius(100%);
}
